 <ion-view title="{{paramType}}">
  <ion-content>
    <ion-item ng-show="expenses.length==0">No records.</ion-item>
    <ion-list>
      <div class="list list-inset">
        <ion-item ng-repeat="record in expenses" type="item-text-wrap">
          <span ng-switch="paramType">
            <span ng-switch-when="Surgeons">
              <h3>{{record.mobilecaddy1__Short_Description__c}}, {{record.mobilecaddy1__Expense_Type__c}}</h3>
              <p>
               <span ng-switch="paramType">
                 <span name="timesheetspan" ng-switch-when="Timesheets">{{record.mobilecaddy1__Duration_Minutes__c}} minutes</span>
                 <span ng-switch-when="Expenses">£{{record.mobilecaddy1__Expense_Amount__c}}</span>
               </span>
               </br>ID: {{record.Name}}
              </p>
            </span>

            <span ng-switch-when="Orders">
             <!-- <p>Order</p>
             {{record}} -->
              <h3>{{record.product.name}}</h3>
              <p><strong>Order Number:</strong> {{record.Name}}</p>
              <p><strong>Order Date:</strong> {{record.LastModifiedDate}}</p>
              <hr></hr>
              <p><strong>Surgeon:</strong> {{record.surgeon.mobilecaddy1__Expense_Type__c}}, {{record.surgeon.mobilecaddy1__Short_Description__c}}</p>
              <p><strong>Price:</strong> £{{record.product.price}}</p>
            </span>

          </span>
        </ion-item>
      </div>
    </ion-list>

  </ion-content>
</ion-view>