<ion-view>
  <ion-content class= 'padding has-subheader'>
    <iframe class= 'webPage' name= "eventsPage" ng-src="{{trustSrc(project.URL)}}" width="100%" height="100%">
   </iframe>
  </ion-content>
 </ion-view>