// Import MobileCaddy SCSS
@import 'mobilecaddy';

// Ionic overrides

$positive:							#505050;
$item-divider-bg:				#90C051;
$list-header-color:			#505050;
$button-light-border:		#505050;

@import "ionic/ionic";

//  A P P    S T A R T    P A G E
#start-page {
  // Could style your apps startpage here.
  background:
  // LOGO
  url('../img/logo.png' ) no-repeat center 40px,
  #505050;
  height: 4000px; // needed to display whilst Ionic is initialising
}

#start-page .card {
  box-shadow: none;
  background-color : transparent;
  position: absolute;
  top: 150px;
}

#start-page .card p{
  text-align: center;
  color: #fff;
}

#start-page .card .item {
  border: 0;
  background-color : transparent;
}

// your slick app styles can go here...

ion-nav-view { background-color: #fff; }


.ionic-logo {
  display: block;
  margin: 15px auto;
  width: 96px;
  height: 96px;
}

a.item-content:hover {
	background-color: $item-divider-bg;}

.card {box-shadow: 0 1px 1px $button-light-border;}

a.disabled {
   pointer-events: none;
   cursor: default;
   color: grey;
}

.search-input {
  margin-right: 0px !important;
}

.search-clear-button {
  position: absolute;
  right: 0;
  top: 0px;
  color: #bbb;
}

.sync-button {
  width: 100%;
  position: fixed;
  bottom: 48px;
  z-index: 9999;
}

.pull-right {
  position: absolute;
  right: 2px;
}